<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTFpS2lABT4xO0VohIYN1A10ikUUO1Ock</string>
	<key>GCM_SENDER_ID</key>
	<string>292306333517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maurosergiorodriguez.professionalfeaturesapp.ProfessionalFeaturesApp</string>
	<key>PROJECT_ID</key>
	<string>kt-mp-ex-id</string>
	<key>STORAGE_BUCKET</key>
	<string>kt-mp-ex-id.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292306333517:ios:af35fe18c8ef475a2d1104</string>
</dict>
</plist>